<div class="ml-auto">
  <a href="/"><button class="btn btn-primary">Users</button></a>
  <a href="/post"><button class="btn btn-primary">Posts</button></a>
  <a href="/logout"><button class="btn btn-danger">Logout</button></a>
</div>
</nav>
<hr>
<div class="container">
  <div class="row">
    <h1>Users <a href="/"><button class="btn btn-primary">+ New User</button></a></h1>
  </div>
  <div class="row">
    <table class="table-bordered table-hover">
      <thead>
        <tr>
          <td>Username</td>
          <td>Email</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
    {{#each users as |user|}}
      <tr>
        <td> <a href="user/{{user.id}}">{{user.username}} </a></td>
        <td> <a href="user/{{user.id}}">{{user.email}} </a></td>
        <td> <a class="text-warning" href="user/edit/{{user.id}}"> Edit </a></td>
        <td> <a class="text-danger" href="user/delete/{{user.id}}">Delete </a></td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
