<div class="ml-auto">
  <a href="/"><button class="btn btn-primary">Users</button></a>
  <a href="/post"><button class="btn btn-primary">Posts</button></a>
  <a href="/logout"><button class="btn btn-danger">Logout</button></a>
</div>
</nav>
<hr>
<div class="container">
  <div class="row">
    <h1>Post <a href="/"><button class="btn btn-primary">+ New Post</button></a></h1>
  </div>
  <div class="row">
    <table class="table-bordered table-hover">
      <thead>
        <tr>
          <td>Posted At</td>
          <td>Title</td>
          <td>Body</td>
          <td>Username</td>
        </tr>
      </thead>
      <tbody>
    {{#each posts as |post|}}
      <tr>
        <td> <a href="post/{{post.id}}">{{dateShorter post.posted}} </a></td>
        <td> <a href="post/{{post.id}}">{{post.title}} </a></td>
        <td> <a href="post/{{post.id}}">{{dotdot post.body}} </a></td>
        <td> <a href="user/{{post.user.id}}">{{post.user.username}} </a></td>

      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
