

<div class="">
  <a href="#">Upvote</a><br>
  <a href="#">Downvote</a><br>
  Score: {{meme.score}}
</div>

<div class="">
  <h1>{{meme.title}}</h1>
  <h4>{{meme.description}}</h4>
  <h5>By User: {{ meme.user.username }}</h5>
  <h4><a href="/comment/{{meme.id}}">Reply</a></h4>
</div>

<hr>




  {{#each comments as |comment|}}


<div>


  <div id="{{ comment.id }}" class="{{comment.parent}}">


  <div class="">
    <a href="#">Upvote</a><br>
    <a href="#">Downvote</a><br>
    Score: {{comment.score}}
  </div><br>

  <div class="">
    <p>{{comment.body}}</p>
    {{#if comment.user.username }}
    <h5>By User: {{ comment.user.username }}</h5>
    {{/if}}
    <h4><a href="/comment/{{comment.meme}}/new/{{comment.id}}">Reply</a></h4>
    <a href="/meme/{{ comment.meme }}/comment/{{ comment.id }}?_method=delete" class="btn btn-danger">Delete</a>
  </div><br>

  <hr>
  </div>

</div>
  {{/each}}



<script type="text/javascript">
$( document ).ready(function() {
  console.log( "ready!" );

  {{#each comments as |comment|}}

  $("#{{comment.id}}").append($(".{{comment.id}}"));

  {{#if comment.parent}}
    $(".{{comment.parent}}").css({ marginLeft : "50px" });
  {{/if}}

  {{/each}}

});
</script>
