

<div class="">
  <a href="#">Upvote</a><br>
  <a href="#">Downvote</a><br>
  Score: {{meme.score}}
</div>

<div class="">
  <h1>{{meme.title}}</h1>
  <h4>{{meme.description}}</h4>
  <h5>By User: {{ meme.user.username }}</h5>
  <h4><a href="/comment/{{meme.id}}/new">Reply</a></h4>
</div>

<hr>

<div class="">
  {{#each comments as |comment|}}
  <div class="">
    <a href="#">Upvote</a><br>
    <a href="#">Downvote</a><br>
    Score: {{comment.score}}
  </div><br>

  <div class="">
    <p>{{comment.body}}</p>
    <h5>By User: {{ comment.user.username }}</h5>
    <h4><a href="/comment/{{comment.id}}/new">Reply</a></h4>
    <a href="/meme/{{ comment.meme }}/comment/{{ comment.id }}?_method=delete" class="btn btn-danger">Delete</a>
  </div><br>

  <hr>

  {{/each}}
</div>
