

<div class="">
  <a href="#">Upvote</a><br>
  <a href="#">Downvote</a>
  Score: {{meme.score}}
</div>

<div class="">
  <h1>meme.title</h1>
  <h4>meme.description</h4>
  <h5>By User: {{ user.username }}</h5>
  <h4><a href="{{meme.id}}/new">Comment</a></h4>
</div>

<hr>

<div class="">
  {{#each comments as |comment|}}
  <div class="">
    <a href="#">Upvote</a><br>
    <a href="#">Downvote</a>
    Score: {{comment.score}}
  </div>

  <div class="">
    <p>{{comment.body}}</p>
    <h5>By User: {{ comment.user }}</h5>
    <h4><a href="{{comment.id}}/new">Comment</a></h4>
  </div><br>

  <hr>

  {{/each}}
</div>
