<header class="page-header">
  <h1>Users</h1>
  <a href="{{ newUserPath }}" class="btn btn-primary">+ New User</a>
</header>


{{#if users.length }}
<table class="table">
  <thead>
    <tr>
      <th>Created</th>
      <th>Username</th>
      <th>Email</th>
      <th>Comments</th>
      <th>Posts</th>
    </tr>
  </thead>
  <tbody>
    {{#each users as |user| }}
    <tr>
      <td>{{ user.createdAt }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.comments.length }}</td>
      <td>{{ user.posts.length }}</td>
    </tr>
    {{/each }}
  </tbody>
</table>
{{else }}
<p class="text-danger">No users</p>
{{/if }}
