<div class="row">
   <h1 class="col-sm-8 posts-header">Posts</h1>
   <a href="/new" class="col-sm-4"><button class="btn btn-primary new-post" type="button">New Post</button></a>
</div>

{{#if posts.length}}
   <div class="all-posts">
      {{#each posts as |post|}}
         <div class="post-box">
            <div class="row">
               <div class="vote col-3 d-flex">
                  <div class="row">
                     <div class="col">
                        <h3>{{post.rating}}</h2>
                     </div>
                     <div class="vote-links col">
                        <a href="#">Upvote</a>
                        <br>
                        <a href="#">Downvote</a>
                     </div>
                  </div>
               </div>
         
            <div class="post-content col-9">
               <h3>{{post.title}}</h3>
               <p class="post-author">post by {{post.displayUsername}}</p>
               <hr>
               <p>{{post.text}}</p>
               <div class="comment-link">
                  <a href="/comments/new/{{post._id}}/post">Comment on this post</a>
               </div>
            </div>
         </div>



         <div class="comment-box row">
            <div class="container"> 
               {{#each this.displayComments}}
                  <div class="row comment-row">  
                     <div class="comment-rating-box offset-1 col-3 d-flex">
                        <div class="row">
                           <div class="comment-rating col d-flex">
                              <h4>{{this.rating}}</h4>
                           </div>
                           <div class="comment-vote col">
                              <a href="#">Upvote</a>
                              <a href="#">Downvote</a>
                           </div>
                        </div>
                     </div>
                     <div class="comment-content col-7 d-flex row">
                        <div class="comment-author col-12">
                           <p>comment by {{this.displayUsername}}</p>
                        </div>
                        <hr class="col-12">
                        <div class="comment-text col-12">
                           <p>{{this.text}}</p>
                        </div>
                        <div class="comment-link">
                           <a href="">Comment on this comment</a>
                        </div>
                     </div>
                  
            {{!-- for each comment, display comments --}}
            </div>
            {{!-- end this.displayComments each --}}
            {{/each}}
            </div>
         </div>
      </div>
      {{/each}}
{{/if}}

{{#else}}
   <p>No Posts</p>
{{/else}}