

<header class="page-header">
  <h1>Posts</h1>
  <a href="/posts/new" class="btn btn-primary">+ New Post</a>
</header>


{{#if posts.length }}
  <table class="table">
    <thead>
      <tr>
        <th>Posted At</th>
        <th>Title</th>
        <th>Body</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {{#each posts as |post| }}
        <tr>
          <td>
            <a href="/posts/{{ post.id }}">{{ post.createdAt }}</a>
          </td>
          <td>
            <a href="/posts/{{ post.id }}">{{ post.title }}</a>
          </td>
          <td>
            <a href="/posts/{{ post.id }}">{{ post.body }}</a>
          </td>
          <td>
            <a href="/posts/{{ post.id }}">{{ post.author.username }}</a>
          </td>
        </tr>
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">No posts</p>
{{/if }}
