<header class="page-header">
  <h1>Users</h1>
  <a href="/posts/new" class="btn btn-primary">+ New Post</a>
</header>



{{#if users.length }}
  <table class="table">
    <thead>
      <tr>
        <th>Posted At</th>
        <th>Title</th>
        <th>Body</th>
        <th>Username</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each posts as |post| }}
        <tr>
          <td>
            <a href="/posts/show/{{ post.id }}">{{ post.createdAt }}</a>
          </td>
          <td>
            <a href="/posts/show/{{ post.id }}">{{ post.shortTitle }}</a>
          </td>
          <td>
            <a href="/posts/show/{{ post.id }}">{{ post.shortBody }}</a>
          </td>
          <td>
            <a href="/posts/show/{{ post.id }}">{{ post.username }}</a>
          </td>
          <td>
            <a href="/posts/{{ post.id }}/edit">Edit</a>
          </td>
          <td>
            <a href="/posts/{{ user.id }}?_method=delete" class="text-danger">Delete</a>
          </td>
        </tr>
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">No users</p>
{{/if }}
