
<div class="row">
	<div class="col-xs-offset-1 col-xs-11">
	  <h1>{{ post.title }} {{ post.author }} {{ post.votes }}</h1>
	  <p>{{ post.body }}</p>
	  <button class="btn btn-primary">Upvote</button>
    <button class="btn btn-danger">Downvote</button>
	</div>
</div class="row">
<h2>Post your comment: but be kind of nice</h2>

<form action="/posts/{{post.id}}" method="post">
  <div class="form-group">
    <label for="post_title">Title</label>
    <input type="text" id="post_title" name="post[title]" class="form-control">
  </div>

  <div class="form-group">
    <label for="post_body">Content</label>
    <textarea id="post_body" name="post[body]" class="form-control">
    </textarea>
  </div>



  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
