<header class="page-header">
  <h1>{{post.title}}</h1>
  <h3>{{post.username}}</h3>
  <a href="/posts/new" class="btn btn-primary">+ New post</a>
</header>

<div class="panel panel-default">
  <div class='panel-heading'>
    {{post.user.username}}
  </div>
  <div class="panel-body"><p>
    {{post.body}}
  </p></div>
</div>

<h3>Comments</h3>
{{#each post.comments as |l0comment|}}
<div class="panel panel-default">
  <div class='panel-heading'>
    {{l0comment.user.username}}
  </div>
  <div class="panel-body">
    {{l0comment.message}}
  </div>
  <div class='panel-footer'>
    <ul class='list-unstyled'>
    	{{#each l0comment.comments as |l1comment|}}
    	<li>
        <h4>{{l1comment.user.username}}:</h4>
        {{l1comment.message}}
      </li>
      <li>
        <ul>
          {{#each l1comment.comments as |l2comment|}}
          <li>
            <h4>{{l2comment.user.username}}:</h4>
            {{l2comment.message}}
          </li>

          {{/each}}
        </ul>
    	</li>
    	{{/each}}
    </ul>
  </div>
</div>
{{/each}}
